apiVersion: v1
kind: Service
metadata:
  name: "${UI_SERVICE}"
  namespace: django
spec:
  selector:
    app.kubernetes.io/name: "${UI_POD}"
  ports:
  - name: http-port
    protocol: TCP
    port: 80
    targetPort: http-web-svc
